Email Address : zarifpious@gmail.com

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Ans to Q1

In [ ]:

print("--- Ages Array Attributes ---")
print("Data Type:", ages.dtype)
print("Dimension:", ages.ndim)
print("Shape:", ages.shape)
print("Size:", ages.size)

print("\n--- Salaries Array Attributes ---")
print("Data Type:", salaries.dtype)
print("Dimension:", salaries.ndim)
print("Shape:", salaries.shape)
print("Size:", salaries.size)

--- Ages Array Attributes ---
Data Type: int64
Dimension: 1
Shape: (10,)
Size: 10

--- Salaries Array Attributes ---
Data Type: int64
Dimension: 1
Shape: (10,)
Size: 10

## Ans to Q2

In [ ]:
max_salary = np.max(salaries)
min_salary = np.min(salaries)

print(f"Highest Salary: {max_salary}")
print(f"Lowest Salary: {min_salary}")

avg_salary = np.mean(salaries)
avg_age = np.mean(ages)

print(f"Average Salary: {avg_salary}")
print(f"Average Age: {avg_age}")

Highest Salary: 89735
Lowest Salary: 30769
Average Salary: 57446.9
Average Age: 38.5

## Ans to Q3

In [ ]:
ages_more_30 = ages[ages > 30]
print("Ages greater than 30:", ages_more_30)

count = np.count_nonzero(ages > 30)
print("Number of employees older than 30:", count)

Ages greater than 30: [56 46 32 38 56 36 40]
Number of employees older than 30: 7

## Ans to Q4

In [ ]:
updated_ages = ages + 5

print("Original Ages:", ages)
print("Updated Ages (Original + 5):", updated_ages)

Original Ages: [56 46 32 25 38 56 36 40 28 28]
Updated Ages (Original + 5): [61 51 37 30 43 61 41 45 33 33]

## Ans to Q5

In [ ]:
total_expense = np.sum(salaries)
print("Total Salary Expense:", total_expense)

salary_difference = np.max(salaries) - np.min(salaries)
print("Difference (Max - Min Salary):", salary_difference)

Total Salary Expense: 574469
Difference (Max - Min Salary): 58966

## Ans to Q6

In [ ]:
df = pd.read_csv('employees.csv')

print("--- First 5 Rows ---")
print(df.head())

print("\n--- Basic Info ---")
df.info()

print("\n--- Summary Statistics ---")
print(df.describe())

--- First 5 Rows ---
   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

--- Basic Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

--- Summary Statistics ---
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Ans to Q7

In [ ]:
print(df[['id', 'age', 'salary']].tail(3))

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

## Ans to Q8

In [ ]:
it_employees = df.loc[df['dept'] == 'IT']
print("--- IT Employees ---")
print(it_employees)

print("\nTotal IT Employees:", len(it_employees))

--- IT Employees ---
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total IT Employees: 3

## Ans to Q9

In [ ]:
sorted_df = df.sort_values('salary', ascending=False)

print(sorted_df[['id', 'salary', 'dept', 'age']].head(3))

   id  salary     dept  age
6   7   89735  Finance   36
7   8   86101       IT   40
0   1   77191       HR   56

## Ans to Q10

In [ ]:
df.loc[df['salary'] > 80000, 'salary'] = 80000

print("New Average Salary:", df['salary'].mean())

New Average Salary: 55863.3